.main-class {
    border: 10px solid red;
    padding: 10px;
    margin: 20px;
}

.input_class_sku {
    width: 200px;
    color: #0a6c9f;
}

.input_class_qty {
    width: 200px;
    color: #0a6767;
}

.input_class_submit:hover {
    background: #a29c94;
    cursor:pointer;
}

.hide_element {
    display: none;
}
